@use '../../styles/mixins.sass' as m

.header
  padding-inline: 50px
  padding-block: 20px
  background-color: var(--accent-color)
  color: var(--main-color)
  box-shadow: var(--box-shadow)

  @include m.tablet
    padding-inline: 25px


.inner
  margin-inline: auto
  padding-inline: 20px
  display: flex
  align-items: center

  @include m.mobile
    align-items: end


.menu
  font-size: 20px
  margin-left: auto


.list
  padding: 0
  display: flex
  align-items: center
  column-gap: 30px

  @include m.tablet
    column-gap: 15px


.link
  font-size: 20px
  font-family: var(--font-oswald), sans-serif

  &:hover
    text-decoration: underline
    text-decoration-thickness: 2px
    text-underline-offset: 3px

  @include m.mobile
    font-size: 16px


.logo
  font-size: 32px
  font-weight: 800
  font-family: var(--font-oswald), sans-serif

  @include m.tablet
    font-size: 22px