@use '../../styles/mixins' as m

.date
  color: var(--gray-color)
  font-family: var(--font-fira-sans), sans-serif


.title
  padding-top: 15px
  font-size: 32px
  font-weight: 800
  font-family: var(--font-oswald), sans-serif

  @include m.mobile
    font-size: 24px


.content
  text-align: justify
  font-family: var(--font-fira-sans), sans-serif


.article
  padding: 25px 40px
  background-color: var(--main-color)
  border-radius: 8px
  box-shadow: var(--box-shadow)


.link
  font-family: var(--font-oswald), sans-serif
  font-size: 18px

  &:hover
    text-decoration: underline
    text-decoration-thickness: 2px
    text-underline-offset: 3px