.field
  margin-bottom: 15px
  width: 100%

.label
  display: block
  margin-bottom: 8px
  font-weight: 500
  font-family: var(--font-oswald), sans-serif

.input
  width: 100%
  padding: 8px
  border: 1px solid var(--gray-color)
  background-color: var(--main-color)
  border-radius: 4px
  font-size: 16px
  font-family: var(--font-fira-sans), sans-serif

textarea.input
  resize: vertical
  min-height: 100px
  font-family: var(--font-fira-sans), sans-serif