.list 
  list-style: none
  padding: 0
  margin: 0

.container 
  font-size: 1.2rem
  line-height: 1.5
  padding-top: 1px

.title 
  font-family: var(--font-oswald), sans-serif
  line-height: 1.4
  margin: 1rem 0
  font-size: 32px
  font-weight: 800
