:root
  --main-color: #dddddd
  --text-color: #261627
  --bg-color: #d1c4c7
  --accent-color: #4e3742
  --color-disabled: #818181
  --gray-color: #b2b2b3
  --white-color: #ffffff
  --box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5)